<div class="green">
    <h3 class="text-white ml-5">Add Project</h3>
    <div class="border bg-white ml-5 mr-5 rounded">
        <form [formGroup]="AddProjectForm" action="#">
            <div class="form-container">
                <label class="ml-3 mt-2">Title</label>
                <input type="text" class="form-control ml-3 mr-3 p-2 margin" formControlName="title"
                    placeholder="Project Name" name="title" required>
                <label class="ml-3 mt-2">Discription</label>
                <textarea type="text" class="form-control ml-3 mr-3 p-2 margin" formControlName="description"
                    name="description" required></textarea>
                <label class="ml-3 mt-3" for="inlineFormCustomSelect">Team Lead</label>
                <select class="custom-select form-control margin" size="1" id="inlineFormCustomSelect"
                    formControlName="teamlead" name="teamlead" required>
                    <option selected>Iqbal Mehmoood</option>
                    <option value="Kabir Sagheer">Kabir Sagheer</option>
                    <option value="Salman Khan">Salman Khan</option>
                    <option value="Saqib Dogar">Saqib Dogar</option>
                </select>
                <label class="ml-3 mt-3" for="inlineFormCustomSelect">Status</label>
                <select class="custom-select form-control margin" size="1" id="inlineFormCustomSelect"
                    formControlName="status" name="status">
                    <option selected>New</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Done">Done</option>
                    <option value="Backlog">Backlog</option>
                </select>
                <label class="ml-3 mt-3" for="inlineFormCustomSelect">Members</label>
                <select class="custom-select margin" size="4" id="inlineFormCustomSelect" formControlName="members"
                    name="members">
                    <option selected>Iqbal Mehmoood</option>
                    <option value="Salman Khan">Salman Khan</option>
                    <option value="Saqib Dogar">Saqib Dogar</option>
                    <option value="Kabir Sagheer">Kabir Sagheer</option>
                </select>
                <label class="ml-3 mt-2">Documents</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text upload"  (click)="upload()"  id="btnUpload">Upload</span>
                        </div>
                        <div class="custom-file">
                            <form action="/api/upload" method="post" enctype="multipart/form-data">
                                <input (change)="fileChange($event)" type="file" class="custom-file-input" id="inputGroupFile01" name="documents" formControlName="documents" aria-describedby="inputGroupFileAddon01">
                            </form>
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                </div>
                <ul class="list-inline ">
                    <li class="list-inline-item float-right"><button (click)="save()"
                            class="btn btn-primary text-white float-right mr-3"><a href="Home" class="text-white">Submit</a></button></li>
                    <li class="list-inline-item float-right">
                        <button class="btn btn-light text-primary float-right mr-3">Cancel</button>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>