<div class="green">
  <div class="medium-list w-100">
    <ul class="list-inline m-0">
      <li class="list-inline-item text-white">
        <h1>Projects</h1>
      </li>
      <li class="list-inline-item float-right text-primary font-weight-bold"><a href="add-project">Add New Project</a>
      </li>
    </ul>
    <table class="bg-white w-100">
      <thead>
        <tr class="bg-grey">
          <th class="p-3">
            #
          </th>
          <th class="p-3">
            Name
          </th>
          <th class="p-3">
            Description
          </th>
          <th class="p-3">
            Documents
          </th>
          <th class="p-3">
            Teamlead
          </th>
          <th class="p-3">
            Members
          </th>
          <th>

          </th>
          <th>

          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows  ; let i = index;" class="border-bottom">
          <td class="p-3">
            {{i+1}}
          </td>
          <td class="p-3">
            {{row.title}}
          </td>
          <td class="p-3">
            {{row.description}}
          </td>
          <td class="p-3 text-primary">
            {{row.documents}}
          </td>
          <td class="p-3">
            {{row.teamlead}}
          </td>
          <td class="p-3">
            {{row.members}}
          </td>
          <td>
            <button class="btn" (click)="onEdit(row)"><i class="fa fa-eye text-primary"></i></button>
          </td>
          <td>
            <button class="btn" (click)="deleteproject(row)"><i class="fa fa-trash text-primary"></i></button>
          </td>
        </tr>
    </table>
  </div>
</div>