<div class="container-fluid green">
    <ul class="list-inline m-0">
        <li class="list-inline-item text-white">
            <h1>Projects xyz</h1>
        </li>
        <li class="list-inline-item float-right text-primary font-weight-bold"><a href="detail-task">Add New
                Task</a></li>
    </ul>
    <div class="row">

        <div *ngFor="let status of statusArr" class="col-3">
            <mat-card class="bg-grey mt-2">
                <mat-card-header>
                    <mat-card-title>
                        <h3 class="m-0 font-weight-bold">{{status}}</h3>
                    </mat-card-title>
                </mat-card-header>
                <div *ngFor="let project of projects[status]" class="border bg-white">
                    <mat-card-content>
                        <h6 class="ml-2 font-weight-bold">{{project.description}}</h6>
                    </mat-card-content>
                    <mat-card-actions>
                        <ul class="list-inline">
                            <li>
                                <h6 class="float-right mr-3 font-weight-bold">{{project.teamlead}}</h6>
                            </li>
                            <li>
                                <mat-icon class="float-right">person</mat-icon>
                            </li>
                        </ul>
                    </mat-card-actions>
                </div>
            </mat-card>
        </div>
    </div>
</div>